{% load static %}
<!DOCTYPE html>
<html>
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% if title %}
        <title>Django Blog - {{ title }}</title>
    {% else %}
        <title>Django Blog</title>
    {% endif %}
</head>
<body>
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4" href="{% url 'home' %}">Reddit</a>
          <form class="form-inline my-2 my-lg-0" action="/search/" method="POST" enctype="multipart/form-data">{% csrf_token %}
            <input class=" ml-4 form-control mr-sm-4" style="padding-right: 190px;" type="search" aria-label="Search" name="srh">
            <button class="btn btn-outline-info my-2 my-sm-0" style="color: white;" type="submit">Search</button>
          </form>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">

            <!-- Navbar Right Side -->
           {% if user.is_authenticated %}
            <div class="navbar-nav ml-auto">
              <a class="btn btn-outline-light" href="{% url 'home' %}">home</a>
              <a class="btn btn-outline-light ml-4" href="{% url 'post_form' %}">CreatePost</a>
              <a class="btn btn-outline-light ml-4" href="{% url 'user_posts' user.username %}">Posts</a>
              <a class="btn btn-outline-light ml-4" href="{% url 'profile' %}">Profile</a>
              <a class="btn btn-outline-light ml-4"  href="{% url 'logout' %}">Logout</a>
            </div>
           {% else %}
            <div class="navbar-nav ml-auto">
              <a class="btn btn-light" href="{% url 'login' %}">Login</a>
              <a class="btn btn-outline-primary ml-4" style="color:aliceblue" href="{% url 'register' %}">SignUp</a>
            </div>
          {% endif %}
         
          </div>
        </div>
      </nav>
    </header>
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8">
          {% block content %}{% endblock %}
        </div>

      </div>
    </main>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>