{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
        <article class="media content-section">
          <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ post.author|capfirst }}</a>
              <small class="text-muted">{{ post.date_posted|date:"d M, Y" }}</small>
            </div>
            <h2 class="article-title" href="#">{{ post.title|capfirst }}</h2>
            <p class="article-content" style="text-align: justify;">{{ post.content|capfirst }}</p>
            {% if post.image %}
            <img src="{{ post.image.url }}" class="img-thumbnail" alt=""  style="display: block; border: 0;">
            {% endif %}
            
            <form action="{% url 'like_post' post.id %}"method="POST">
                {% csrf_token %}
               {% if user.is_authenticated %}
                  {% if liked %}
                  
                  <button style="border: none; background: none;" type="submit" name="post_id" value="{{ post.id }}"><i class="fa fa-thumbs-up" style="font-size:35px; color: gray;"></i></button>
                  {% else %}
                  <button style="border: none; background: none;" type="submit" name="post_id" value="{{ post.id }}"><i class="fa fa-thumbs-up"  style="font-size:35px; color: grey;"></i></button>
                  {% endif %}
                {% endif %}
                <h2 class="mt-2 ml-3">{{ total_likes }}</h2>
                
                </form><br>
          </div>
        </article>
         <h4 class="border-bottom">Total number of comments: {{ post.comments.count }}</h4>
        {% for comment in post.comments.all %}
        <article class="media content-section">
         
          <div class="media-body">
            <div class="article-metadata">
              
              <a class="mr-2" href="#">{{ comment.name|capfirst }}</a>
              <small class="text-muted">{{ comment.created_on|date:"d M, Y" }}</small>
            </div>
            <p class="article-content">{{ comment.body|capfirst }}</p>
          </div>
        </article>
        {% empty %}
          <h3 class="mt-4">No comments</h3>
        {% endfor %}
        <a href="{% url 'comment' id=post.id %}" class="btn btn-outline-info mt-2">Leave a comment </a>
{% endblock content %}