{% extends "base.html" %}
{% block content %}
  
    {% for k in sr %}
        <article class="media content-section" >
            <img class="rounded-circle article-img" src="{{ k.author.profile.image.url }}">
            <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="#">{{ k.author }}</a>
                <small class="text-muted">{{ k.date_posted|date:"d m, Y" }}</small>
            </div>
            <h4><a class="article-title">{{ k.title }}</a></h4>
            <p class="article-content" style="text-align: justify;">{{ k.content }}</p>
            {% if k.image %}
            <img src="{{ k.image.url }}" class="img-thumbnail" alt="">
          {% endif %}
            </div>
        </article>
    {% endfor %}
{% endblock %}